 {{#tags}}
 <div class="tau-div">
      <span class="t-unselectable  taunt-txt" data-toggle="tooltip" data-placement="top" title="{{name}}">{{name}}   
           <span class="t-unselectable taunt-rem-btn" style="position:absolute;font-family: Arial Unicode MS, Lucida Grande;color:red;font-size:13px;top:5px;margin:0 auto;">&#9940;</span>
      </span>
      <div style="border-color:{{bcolor}};border-bottom:4px solid {{border}};background-color:{{color}}" data-taunt={{tagno}} class="mm-btn-main mm-taunt-btn t-unselectable boombtn">  
         <span  class="mm-btn"> {{tagstate}}</span>
      </div>
</div>
{{/tags}}
